<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2>Git Finder Dashboard</h2>
    <p>
     This App allows you to see a users git repo details.
    </p>
    <div class="padding-horizontal" style="margin-top: 10px">
            <div class="list">
            <form ng-submit="addstaff(newstaff)">
          <label class="item item-input">
            <input type="text" placeholder="Username" ng-model="newstaff.username">
          </label>
        </div>
        <button class="button button-block button-positive" ng-click="FindUser()">
         Find
        </button>
        </form>

        <div ng-show="userfound">
        <div class="list list-inset">
        <div class="list card">

        <div class="item item-avatar">

          <img src="{{user_profile.avatar_url}}">
          <h2> {{user_profile.name}}</h2>
          <p>{{user_profile.login}}</p>
        </div>

        <div class="item item-body">
          <p>
           {{user_profile.bio}}
          </p>
          <p>
            <a href="#" class="subdued">{{user_profile.public_repos}} Public Repos</a>
            <a href="#" class="subdued">{{user_profile.followers}} Followers</a>
          </p>
        </div>

      </div>
        </div>
        </div>
  </ion-content>
</ion-view>
